<h1><%= @country_visit[:country_name] %></h1>

<h2>Locations</h2>
<ul>
  <% @location_visits.each do |location_visit| %>
    <li><a href="/journeys/<%= @journey[:id] %>/countries/<%= @country_visit[:id] %>/locations/<%= location_visit[:id] %>"><%= location_visit[:location_name] %></a></li>
  <% end %>
</ul>
<p>
  <a href="/journeys/<%= @journey[:id] %>/countries/<%= @country_visit[:id] %>/add_location">Add another location?</a>
</p>
